
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Playable Weather</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" href="#" [routerLink]="['/searchView']">Home</a>
            <a class="nav-link active" href="#" [routerLink]="['/weeklyView']">Weekly View</a>
            <a class="nav-link" href="#"  [routerLink]="['/dayView']">Daily View</a>
          </nav>
        </div>
      </div>
      <div *ngIf="weatherData !== null">
        <div class="row" >
          <h3>Weather in {{ weatherData.city.name }}, {{ weatherData.city.country}}</h3>
        </div>
        <div class="row">
          <div class="col" *ngFor="let day of weatherData.list; let i = index; trackBy: trackByFn" >
            <a (click)="weatherForDay(i)" [routerLink]="['/dayView']"> temperature at {{ day.dt }} will be {{ day.temp.day }} °C.
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
