
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Playable Weather</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" href="#" [routerLink]="['/searchView']">Home</a>
            <a class="nav-link active" href="#" [routerLink]="['/weeklyView']">Weekly View</a>
            <a class="nav-link" href="#"  [routerLink]="['/dayView']">Daily View</a>
          </nav>
        </div>
      </div>
      <div *ngIf="weatherData !== null" class="weather">
        <div class="row" >
          <h3 class="col-md-6">Weather in {{ weatherData.city.name }}, {{ weatherData.city.country}}</h3>
          <div class="col-md-3">
            <i class="wi wi-day-sunny"></i> temperature today is {{ weatherData.list[0].temp.day }} °C.
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col day" *ngFor="let day of weatherData.list; let i = index; trackBy: trackByFn" >
              <a (click)="weatherForDay(i)" [routerLink]="['/dayView']"> <i class="wi wi-day-sunny"></i> <strong>{{ day.dt }}</strong> Temp: {{ day.temp.day }} °C.
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
