<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Playable Weather</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" href="#" [routerLink]="['/searchView']">Home</a>
            <a class="nav-link" href="#" [routerLink]="['/weeklyView']">Weekly View</a>
            <a class="nav-link active" href="#" [routerLink]="['/dayView']">Daily View</a>
          </nav>
        </div>
        <p>
          dayview works!
        </p>
      </div>
    </div>
  </div>

</div>
